In [1]:
import os
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from keras.preprocessing.text import Tokenizer
from sklearn import preprocessing

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
# load data
#data = pd.read_csv("/Users/brettpowers/Desktop/hf_new_small.csv")
data = pd.read_csv("/Users/rachelkim/Documents/CU/compassMachineLearning/Example Data/hf_new_small.csv")
data.drop("Unnamed: 0", axis = 1, inplace = True)
data.head()

,person_id,label,age,sex,diag_med
0,5537565608205382086,0,12,female,"4132855,444131,4066147,4289526,2414397,439060,..."
1,205040565946650389,0,69,female,"19079322,40229093,963359,1593744,35603432,4024..."
2,-7994356425511450986,0,54,male,"2414397,19079498,19075034,902741,379019,210198..."
3,2839027767049717315,0,87,male,"19025145,46287618,2211583,317898,2001537,24143..."
4,1464437645105651076,0,80,female,"435524,255848,442752,4070750,40231925,46287338..."

In [3]:
# split into training and test
train_set, test_set = train_test_split(data, test_size=0.2, random_state=42)

# Split into inputs and labels 
train_icmed = train_set["diag_med"]
train_label = train_set["label"]

test_icmed = test_set["diag_med"]
test_label = test_set["label"]

# Tokenizing icmed codes (tokenizer above)
vocab_size = 10

tokenize = Tokenizer(
            num_words=vocab_size,
            filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
            lower=True,
            split=",",
            char_level=False,
        )

tokenize.fit_on_texts(train_icmed)
index = tokenize.index_word

x_train = tokenize.texts_to_matrix(train_icmed)
x_test = tokenize.texts_to_matrix(test_icmed)

# Encoding with Sklearn
encoder = preprocessing.LabelBinarizer()
encoder.fit(train_label)
y_train = np.squeeze(encoder.transform(train_label))
y_test = np.squeeze(encoder.transform(test_label))

In [4]:
index

{1: '2108115',
 2: '2414397',
 3: '2414398',
 4: '35605482',
 5: '40220357',
 6: '320128',
 7: '4214956',
 8: '2514435',
 9: '19070869',
 10: '2414392',
 11: '4132855',
 12: '40162515',
 13: '2514436',
 14: '35603428',
 15: '4036803',
 16: '40231925',
 17: '2514437',
 18: '2314215',
 19: '19135374',
 20: '2213418',
 21: '254761',
 22: '40244026',
 23: '40232756',
 24: '432867',
 25: '2414396',
 26: '200219',
 27: '2314205',
 28: '77670',
 29: '2314216',
 30: '19005965',
 31: '2414393',
 32: '257011',
 33: '436096',
 34: '46287424',
 35: '42902754',
 36: '442077',
 37: '378253',
 38: '2211361',
 39: '2212946',
 40: '194133',
 41: '2212945',
 42: '46272450',
 43: '25297',
 44: '1127433',
 45: '4167217',
 46: '312437',
 47: '35603431',
 48: '46287338',
 49: '40240688',
 50: '2314213',
 51: '4144111',
 52: '46287618',
 53: '42707627',
 54: '196523',
 55: '433316',
 56: '437663',
 57: '27674',
 58: '19020053',
 59: '2212937',
 60: '40180078',
 61: '433736',
 62: '440383',
 63: '19020131',
 64: '42903088',
 65: '40227012',
 66: '4147961',
 67: '81902',
 68: '31967',
 69: '19019073',
 70: '2314284',
 71: '1551170',
 72: '19128020',
 73: '2211359',
 74: '2213283',
 75: '2211327',
 76: '24134',
 77: '2313869',
 78: '78232',
 79: '4014295',
 80: '40167259',
 81: '40756910',
 82: '2314294',
 83: '440029',
 84: '19075034',
 85: '2414391',
 86: '35603636',
 87: '436070',
 88: '1719046',
 89: '438485',
 90: '140673',
 91: '4223659',
 92: '4150062',
 93: '40232454',
 94: '1719012',
 95: '2314262',
 96: '40221387',
 97: '19134047',
 98: '40225811',
 99: '2617177',
 100: '19041324',
 101: '2514399',
 102: '197684',
 103: '4193704',
 104: '138525',
 105: '439926',
 106: '4175226',
 107: '19123989',
 108: '439777',
 109: '2514434',
 110: '19115197',
 111: '4215685',
 112: '2514528',
 113: '318800',
 114: '2314297',
 115: '2314217',
 116: '2314048',
 117: '19078924',
 118: '40232444',
 119: '19065567',
 120: '938330',
 121: '4169580',
 122: '75860',
 123: '19019074',
 124: '44784779',
 125: '35606552',
 126: '2314204',
 127: '442588',
 128: '138384',
 129: '437827',
 130: '40221386',
 131: '2314026',
 132: '40163500',
 133: '444094',
 134: '35603432',
 135: '140214',
 136: '987250',
 137: '4237320',
 138: '778765',
 139: '2314047',
 140: '2617289',
 141: '1113346',
 142: '42872402',
 143: '2314206',
 144: '141693',
 145: '134736',
 146: '19019419',
 147: '2314287',
 148: '42708743',
 149: '40240859',
 150: '46287620',
 151: '43560451',
 152: '201826',
 153: '441408',
 154: '40180076',
 155: '35604998',
 156: '36717001',
 157: '4306780',
 158: '1836434',
 159: '197381',
 160: '19076953',
 161: '19041464',
 162: '436962',
 163: '45768910',
 164: '35605848',
 165: '437833',
 166: '438720',
 167: '19023398',
 168: '435796',
 169: '40232700',
 170: '4209423',
 171: '19078921',
 172: '437390',
 173: '442752',
 174: '2211809',
 175: '35603429',
 176: '43526851',
 177: '40221384',
 178: '437264',
 179: '46275126',
 180: '19080217',
 181: '256451',
 182: '257007',
 183: '40223757',
 184: '19040121',
 185: '80180',
 186: '42900442',
 187: '46257421',
 188: '40225712',
 189: '444070',
 190: '313459',
 191: '40221385',
 192: '2314290',
 193: '315078',
 194: '4203722',
 195: '19077241',
 196: '44784217',
 197: '1125392',
 198: '40241504',
 199: '46271370',
 200: '2314264',
 201: '40175249',
 202: '436230',
 203: '4060985',
 204: '46287328',
 205: '46287345',
 206: '46276269',
 207: '257012',
 208: '439224',
 209: '436583',
 210: '375415',
 211: '433595',
 212: '2414395',
 213: '317009',
 214: '40227057',
 215: '40227049',
 216: '135777',
 217: '723042',
 218: '260139',
 219: '255573',
 220: '320536',
 221: '19075380',
 222: '42627952',
 223: '4170554',
 224: '81112',
 225: '19131116',
 226: '4088016',
 227: '2514433',
 228: '78508',
 229: '79864',
 230: '42627987',
 231: '4254477',
 232: '138825',
 233: '260123',
 234: '36249643',
 235: '35606217',
 236: '4305080',
 237: '318736',
 238: '4169905',
 239: '2211491',
 240: '40226969',
 241: '19073187',
 242: '4305831',
 243: '200174',
 244: '19114094',
 245: '438398',
 246: '42627953',
 247: '4307024',
 248: '2514408',
 249: '434005',
 250: '19019113',
 251: '197988',
 252: '1593063',
 253: '19044785',
 254: '46287548',
 255: '19058398',
 256: '19049150',
 257: '201618',
 258: '2514527',
 259: '19073712',
 260: '19049335',
 261: '31317',
 262: '40169706',
 263: '19076145',
 264: '1707346',
 265: '141323',
 266: '141932',
 267: '19019336',
 268: '255848',
 269: '2211741',
 270: '75909',
 271: '2211481',
 272: '4041280',
 273: '313217',
 274: '35603805',
 275: '2414394',
 276: '2211765',
 277: '1135766',
 278: '140821',
 279: '4079750',
 280: '40221700',
 281: '372328',
 282: '437113',
 283: '4299535',
 284: '4047564',
 285: '197320',
 286: '1560525',
 287: '46287619',
 288: '19078461',
 289: '4115367',
 290: '4005823',
 291: '19019418',
 292: '2213419',
 293: '439407',
 294: '19019273',
 295: '2211446',
 296: '40163473',
 297: '40227019',
 298: '314658',
 299: '4110815',
 300: '380733',
 301: '40180065',
 302: '4195085',
 303: '43530950',
 304: '40483287',
 305: '4149382',
 306: '376208',
 307: '4155909',
 308: '2213284',
 309: '19072321',
 310: '433753',
 311: '193322',
 312: '19077652',
 313: '432545',
 314: '2211488',
 315: '1332419',
 316: '435515',
 317: '19129446',
 318: '35604321',
 319: '2211459',
 320: '46271022',
 321: '4086918',
 322: '1136682',
 323: '2313749',
 324: '35605815',
 325: '19077548',
 326: '80502',
 327: '40162494',
 328: '19019112',
 329: '4329041',
 330: '2313821',
 331: '40221355',
 332: '4147829',
 333: '134438',
 334: '2211397',
 335: '2313993',
 336: '717166',
 337: '40243340',
 338: '2108887',
 339: '135360',
 340: '2211381',
 341: '200843',
 342: '4164898',
 343: '374375',
 344: '46275280',
 345: '374034',
 346: '19027493',
 347: '195562',
 348: '4180628',
 349: '2313991',
 350: '40166540',
 351: '19080129',
 352: '4168796',
 353: '901660',
 354: '312648',
 355: '2109196',
 356: '2211379',
 357: '1314318',
 358: '40756914',
 359: '42902935',
 360: '19102649',
 361: '4236484',
 362: '19129398',
 363: '40168991',
 364: '42902781',
 365: '40481919',
 366: '40756931',
 367: '2313822',
 368: '2211401',
 369: '198263',
 370: '40160973',
 371: '40160974',
 372: '4240903',
 373: '19008723',
 374: '2211740',
 375: '19080128',
 376: '46287545',
 377: '19049684',
 378: '80767',
 379: '28060',
 380: '2313820',
 381: '42903015',
 382: '436659',
 383: '195083',
 384: '42902863',
 385: '45766714',
 386: '19072176',
 387: '19027427',
 388: '4171917',
 389: '1125359',
 390: '2514406',
 391: '1742255',
 392: '42873170',
 393: '40225944',
 394: '195867',
 395: '40173070',
 396: '319835',
 397: '4218813',
 398: '2211353',
 399: '4183609',
 400: '4074187',
 401: '4214376',
 402: '19113528',
 403: '43011826',
 404: '439082',
 405: '435875',
 406: '19130168',
 407: '967434',
 408: '40164847',
 409: '435613',
 410: '2109201',
 411: '2108116',
 412: '433440',
 413: '42627954',
 414: '40167213',
 415: '312998',
 416: '443257',
 417: '4090425',
 418: '19023551',
 419: '36249687',
 420: '434894',
 421: '19072159',
 422: '201620',
 423: '377889',
 424: '2514405',
 425: '40756833',
 426: '19057128',
 427: '77646',
 428: '19046742',
 429: '1545996',
 430: '432870',
 431: '437643',
 432: '2211456',
 433: '19133280',
 434: '993653',
 435: '377091',
 436: '4001450',
 437: '317002',
 438: '40222886',
 439: '2109194',
 440: '1754996',
 441: '35604015',
 442: '46272451',
 443: '40222985',
 444: '77234',
 445: '81151',
 446: '19019072',
 447: '1150924',
 448: '194081',
 449: '132797',
 450: '4182562',
 451: '2110284',
 452: '19073186',
 453: '316822',
 454: '4204199',
 455: '4062484',
 456: '35603226',
 457: '19074558',
 458: '378427',
 459: '4117695',
 460: '46276423',
 461: '4294382',
 462: '43012671',
 463: '2314207',
 464: '43013021',
 465: '4186037',
 466: '19025145',
 467: '19077546',
 468: '2211768',
 469: '79106',
 470: '791967',
 471: '40480674',
 472: '438867',
 473: '30437',
 474: '40163435',
 475: '4147691',
 476: '46287372',
 477: '19057064',
 478: '2002703',
 479: '4128329',
 480: '436222',
 481: '379019',
 482: '961050',
 483: '46275349',
 484: '77074',
 485: '40226837',
 486: '4115171',
 487: '439147',
 488: '201061',
 489: '314666',
 490: '443769',
 491: '46257484',
 492: '434613',
 493: '4142875',
 494: '19073189',
 495: '19079703',
 496: '19079322',
 497: '40223140',
 498: '4174262',
 499: '2211351',
 500: '4087235',
 501: '4169954',
 502: '2211506',
 503: '4146581',
 504: '372409',
 505: '1560751',
 506: '46287422',
 507: '2514409',
 508: '380378',
 509: '2314004',
 510: '1545997',
 511: '433930',
 512: '1301025',
 513: '443211',
 514: '4169095',
 515: '40234046',
 516: '35604011',
 517: '2514413',
 518: '4005186',
 519: '4058431',
 520: '435524',
 521: '435928',
 522: '19049106',
 523: '4130851',
 524: '4256640',
 525: '40481096',
 526: '440674',
 527: '40162311',
 528: '2102912',
 529: '197672',
 530: '19072934',
 531: '1799141',
 532: '4046263',
 533: '40164929',
 534: '2213282',
 535: '19049024',
 536: '437165',
 537: '2110308',
 538: '435517',
 539: '79908',
 540: '192450',
 541: '437175',
 542: '443732',
 543: '4046550',
 544: '314754',
 545: '2211779',
 546: '40220393',
 547: '1143374',
 548: '997899',
 549: '37016349',
 550: '1307046',
 551: '2313881',
 552: '19077344',
 553: '2514414',
 554: '2211414',
 555: '19078106',
 556: '19041823',
 557: '42627910',
 558: '4000609',
 559: '4206148',
 560: '44782429',
 561: '1125357',
 562: '440704',
 563: '948079',
 564: '4027396',
 565: '2314285',
 566: '197610',
 567: '2102140',
 568: '4300092',
 569: '437677',
 570: '965748',
 571: '321588',
 572: '2784578',
 573: '443597',
 574: '316139',
 575: '135930',
 576: '40167196',
 577: '4194895',
 578: '42628505',
 579: '432795',
 580: '43530807',
 581: '40228087',
 582: '40756920',
 583: '2211340',
 584: '2211420',
 585: '138102',
 586: '136788',
 587: '194984',
 588: '19123592',
 589: '37018196',
 590: '441641',
 591: '40483107',
 592: '42628025',
 593: '201603',
 594: '23325',
 595: '19074850',
 596: '19071941',
 597: '19039331',
 598: '19027494',
 599: '375545',
 600: '2211378',
 601: '314131',
 602: '46272453',
 603: '19073777',
 604: '4324765',
 605: '141253',
 606: '957136',
 607: '4273391',
 608: '40221904',
 609: '1742284',
 610: '2102577',
 611: '141095',
 612: '40174776',
 613: '436665',
 614: '80816',
 615: '4076661',
 616: '432738',
 617: '968985',
 618: '372887',
 619: '4064918',
 620: '4152351',
 621: '19077547',
 622: '40221389',
 623: '963359',
 624: '197607',
 625: '4041283',
 626: '197925',
 627: '2211339',
 628: '198194',
 629: '4247398',
 630: '19079524',
 631: '4032150',
 632: '2313990',
 633: '315085',
 634: '73553',
 635: '4244438',
 636: '19077343',
 637: '437758',
 638: '1539411',
 639: '321052',
 640: '35606536',
 641: '19070371',
 642: '2314035',
 643: '1326196',
 644: '198803',
 645: '4064905',
 646: '438878',
 647: '4134121',
 648: '739209',
 649: '201340',
 650: '40228214',
 651: '4288310',
 652: '4103703',
 653: '752209',
 654: '35603227',
 655: '434169',
 656: '4154290',
 657: '4042728',
 658: '135618',
 659: '256439',
 660: '42628688',
 661: '2211826',
 662: '2211783',
 663: '375806',
 664: '2211757',
 665: '2313975',
 666: '19077513',
 667: '915209',
 668: '439297',
 669: '1518292',
 670: '2211737',
 671: '42742498',
 672: '40175210',
 673: '315831',
 674: '378735',
 675: '72990',
 676: '2211460',
 677: '2514441',
 678: '4250175',
 679: '4271013',
 680: '968205',
 681: '4057044',
 682: '439199',
 683: '45777030',
 684: '2514525',
 685: '4239938',
 686: '73819',
 687: '4115991',
 688: '4058852',
 689: '19083910',
 690: '433456',
 691: '4081648',
 692: '437246',
 693: '4322175',
 694: '42628602',
 695: '42742387',
 696: '46275231',
 697: '37018854',
 698: '201072',
 699: '40167218',
 700: '19057197',
 701: '2514520',
 702: '196168',
 703: '136057',
 704: '4012368',
 705: '4150125',
 706: '40173098',
 707: '254061',
 708: '134898',
 709: '2211388',
 710: '376707',
 711: '4216771',
 712: '379031',
 713: '4174707',
 714: '2211751',
 715: '19019050',
 716: '19049686',
 717: '46275242',
 718: '1707348',
 719: '436676',
 720: '4292575',
 721: '438409',
 722: '4140830',
 723: '380094',
 724: '19079171',
 725: '4119499',
 726: '2313772',
 727: '200845',
 728: '2211480',
 729: '81175',
 730: '19075601',
 731: '139900',
 732: '36249703',
 733: '19023636',
 734: '35605661',
 735: '134460',
 736: '4089462',
 737: '441207',
 738: '40163492',
 739: '435243',
 740: '4330445',
 741: '40222663',
 742: '2211743',
 743: '46275352',
 744: '2514407',
 745: '4285898',
 746: '375281',
 747: '19023368',
 748: '4058435',
 749: '40227101',
 750: '4272240',
 751: '4241527',
 752: '197006',
 753: '140641',
 754: '40173508',
 755: '1593966',
 756: '2211482',
 757: '36250141',
 758: '4012690',
 759: '4063521',
 760: '75576',
 761: '4215402',
 762: '376065',
 763: '434814',
 764: '1154619',
 765: '2211756',
 766: '1150351',
 767: '40174880',
 768: '434610',
 769: '715940',
 770: '193254',
 771: '2211451',
 772: '4248728',
 773: '19078559',
 774: '1308251',
 775: '377575',
 776: '4168700',
 777: '135892',
 778: '920332',
 779: '46275400',
 780: '40169766',
 781: '40163554',
 782: '40176329',
 783: '4060705',
 784: '194696',
 785: '2514521',
 786: '1771215',
 787: '257907',
 788: '2314208',
 789: '2314000',
 790: '2514524',
 791: '443782',
 792: '80809',
 793: '45766207',
 794: '4177223',
 795: '40175294',
 796: '2514526',
 797: '4077895',
 798: '2108209',
 799: '4227594',
 800: '2211333',
 801: '259848',
 802: '141941',
 803: '2211485',
 804: '46271075',
 805: '4079749',
 806: '752095',
 807: '4182210',
 808: '2211808',
 809: '36249181',
 810: '4324838',
 811: '435656',
 812: '133299',
 813: '2211501',
 814: '1717707',
 815: '1551192',
 816: '1797515',
 817: '993690',
 818: '1136687',
 819: '19078555',
 820: '40237173',
 821: '35603556',
 822: '2514529',
 823: '4015701',
 824: '2313880',
 825: '4116166',
 826: '81611',
 827: '2786181',
 828: '46276108',
 829: '4188191',
 830: '2313727',
 831: '4268911',
 832: '45776321',
 833: '435655',
 834: '381549',
 835: '948637',
 836: '35603840',
 837: '440329',
 838: '2102593',
 839: '46234346',
 840: '46272452',
 841: '19079119',
 842: '42628094',
 843: '1150347',
 844: '140648',
 845: '76161',
 846: '2314229',
 847: '443585',
 848: '2109916',
 849: '4056713',
 850: '2617293',
 851: '315286',
 852: '717165',
 853: '440360',
 854: '4084966',
 855: '4048727',
 856: '4211231',
 857: '4062637',
 858: '198400',
 859: '261880',
 860: '2211410',
 861: '4237017',
 862: '2514404',
 863: '373478',
 864: '4047347',
 865: '4059467',
 866: '40225159',
 867: '46234523',
 868: '1593190',
 869: '40225725',
 870: '2211755',
 871: '40242344',
 872: '19133905',
 873: '192671',
 874: '440083',
 875: '989898',
 876: '2211747',
 877: '4102739',
 878: '378424',
 879: '40163555',
 880: '4172432',
 881: '81984',
 882: '4256761',
 883: '40405599',
 884: '4108616',
 885: '319843',
 886: '42709838',
 887: '314059',
 888: '434490',
 889: '45890623',
 890: '321596',
 891: '40236824',
 892: '2617291',
 893: '2314008',
 894: '2101931',
 895: '73754',
 896: '2004765',
 897: '1539407',
 898: '40166274',
 899: '2313871',
 900: '19070310',
 901: '2109747',
 902: '40185304',
 903: '194175',
 904: '134159',
 905: '2313829',
 906: '40162563',
 907: '75650',
 908: '37017812',
 909: '4132434',
 910: '137351',
 911: '40162511',
 912: '4096682',
 913: '136497',
 914: '374366',
 915: '137977',
 916: '4104431',
 917: '443949',
 918: '4280726',
 919: '19074977',
 920: '35603238',
 921: '19073093',
 922: '80813',
 923: '40184727',
 924: '948080',
 925: '753629',
 926: '43532878',
 927: '4059290',
 928: '372324',
 929: '19106768',
 930: '19079658',
 931: '201078',
 932: '40173123',
 933: '1593920',
 934: '437541',
 935: '19049334',
 936: '4157332',
 937: '4305272',
 938: '4346975',
 939: '46275916',
 940: '46287368',
 941: '139850',
 942: '2313831',
 943: '77630',
 944: '379805',
 945: '1308250',
 946: '436238',
 947: '137548',
 948: '40229093',
 949: '2102578',
 950: '45763689',
 951: '443200',
 952: '40067433',
 953: '46287349',
 954: '40168654',
 955: '321318',
 956: '442111',
 957: '1790982',
 958: '443800',
 959: '373503',
 960: '73008',
 961: '19137328',
 962: '261325',
 963: '19075032',
 964: '46275378',
 965: '906891',
 966: '441488',
 967: '4317258',
 968: '442355',
 969: '4244662',
 970: '2109766',
 971: '40175174',
 972: '40221329',
 973: '40221351',
 974: '40236839',
 975: '4166272',
 976: '1707772',
 977: '444093',
 978: '135033',
 979: '4115169',
 980: '1343916',
 981: '19057433',
 982: '4133224',
 983: '438543',
 984: '44783028',
 985: '36249737',
 986: '30234',
 987: '40481089',
 988: '196456',
 989: '19078314',
 990: '40143309',
 991: '19072933',
 992: '40304526',
 993: '444100',
 994: '443871',
 995: '1718735',
 996: '4254485',
 997: '40220392',
 998: '19123359',
 999: '444444',
 1000: '443600',
 ...}

In [5]:
pd.DataFrame(x_train)

         0    1    2    3    4    5    6    7    8    9
0      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1      0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  1.0
2      0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0
3      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
23995  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
23996  0.0  1.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0
23997  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
23998  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
23999  0.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0

[24000 rows x 10 columns]

In [6]:
# Fit Random Forest model
forest_clf = RandomForestClassifier(n_estimators = 10, max_depth = 3, n_jobs=-1, random_state=0, verbose=1)
forest_clf.fit(x_train, y_train)
y_pred = forest_clf.predict(x_test)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done   6 out of  10 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=8)]: Done  10 out of  10 | elapsed:    0.0s finished

In [7]:
importances = pd.DataFrame.from_dict(index, orient = 'index', columns = ['Code'])
importances = pd.concat([pd.DataFrame({'Code':'NA'}, index = [0]), importances])
importances = importances.head(vocab_size)
importances['Importance'] = forest_clf.feature_importances_
importances

       Code  Importance
0        NA    0.000000
1   2108115    0.043583
2   2414397    0.043923
3   2414398    0.095587
4  35605482    0.024515
5  40220357    0.020756
6    320128    0.638870
7   4214956    0.053081
8   2514435    0.029554
9  19070869    0.050130

In [8]:
importances_sorted = importances.sort_values('Importance', ascending = False)
importances_sorted

       Code  Importance
6    320128    0.638870
3   2414398    0.095587
7   4214956    0.053081
9  19070869    0.050130
2   2414397    0.043923
1   2108115    0.043583
8   2514435    0.029554
4  35605482    0.024515
5  40220357    0.020756
0        NA    0.000000